{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <br><br><br>
                <div class="card">
                    <div class="card-header">
                        <h3>Reset Password</h3>
                    </div>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <br>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-success">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}