{#<p>Primesti acest email deoarece a fost solicitata o schimbare a parolei pt contul tau</p>#}
{#<p>Te rugam sa accesezi urmatorul link si sa alegi o noua parola: </p>#}
{#<p>#}
{#    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">#}
{#        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}#}
{#    </a>#}
{#</p>#}
{#<p>Username-ul tau este: {{ user.get_username }}</p>#}
{#<p>Multumim ! Daca nu ai solicitat aceasta schimbare, poti ignora mail-ul primit!</p>#}