{% extends 'base.html' %}

{% block title %}Create a new user{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <br><br><br>
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Create a new user</h3>
                </div>
                <form method="post" novalidate autocomplete="off">
                    {% csrf_token %}
                    <div class="card-body">
                        {% if messages %}
                            <div class="alert alert-info">
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in form %}
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                {% if field.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in field.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
